<div class="cases">
  <span>CASES</span>
  <h2>Check out some of my work</h2>
</div>


<ul class="linkList">
  <li>
    <a href="https://gold-discussions-658490.framer.app/" target="_blank">UI Design:
      SalesHub</a>
  </li>
  <li>
    <a href="https://www.behance.net/gallery/219308659/Transforma-Mundo-UX-UI-Study-Case" target="_blank">UX Case:
      TransformaMundo</a>
  </li>
  <li>
    <a href="https://cheseref.github.io/portfolio_fatec_2025/" target="_blank">UI Case: Franciele Chesere Portifolio</a>
  </li>
  <li>
    <a href="https://dribbble.com/shots/24876707-VK-redesign" target="_blank">UI Case: VK Redesign</a>
  </li>
</ul>
