.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

ul {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0;
  gap: 32px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
