<div class="wrapper">
  <!-- <header>
    <a href="#" class="logo">
      <img src="assets/images/ricky.svg" alt="">
    </a>
    <a href="#" class="about" target="_blank" rel="noopener noreferrer">Sobre mim</a>
  </header> -->
  <main class="content">
    <div class="userInfo">
      <div class="hero-container">
        <div class="profile">
          <img sclass="profile-photo" src="assets/images/profile.png" alt="foto de perfil">
          <!-- <span>Ricardo Domingos</span>
          <p class="role">UX DESIGNER</p> -->
        </div>
        <img class="logo-ricky" src="assets/images/ricky.svg" alt="">
      </div>
      =======
      <!-- <img src="https://avatars.githubusercontent.com/u/14863048?v=4" alt=""> -->
      <img src="assets/images/profile.png" alt="foto de perfil">
      <span>Ricardo Domingos</span>
      <p class="role">UX DESIGNER</p>
      >>>>>>> 4e88acd217ba385962411c264e4bbd7a6f7c4baf

      <div class="hero">
        <span>UX DESIGN</span>
        <h1>Crio experiências únicas para produtos inesqueciveis utilizando as melhores técnicas de UX</h1>
      </div>

    </div>
    <app-about-me>about me works!</app-about-me>
    <app-links>links works!</app-links>
    <app-social>social works!</app-social>
  </main>
  <footer>Made with ❤️ by <b>espresso studya</b> powered by ricardo domingos</footer>
</div>