<div class="wrapper">
  <!-- <header></header> -->
  <main class="content">
    <div class="userInfo">
      <!-- <img src="https://avatars.githubusercontent.com/u/14863048?v=4" alt=""> -->
      <img src="assets/images/profile.png" alt="foto de perfil">
      <h1>Crio experiências únicas para produtos inesqueciveis</h1>
      <p>UX DESIGNER</p>
    </div>
    <app-links>links works!</app-links>
    <app-social>social works!</app-social>
  </main>
  <footer>Made with ❤️ by Ricky</footer>
</div>
