.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    padding: 32px 16px;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }

  h1 {
    font-family: "GellixBold", sans-serif;
    font-size: 32px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    color: #71717a;
  }

  footer {
    color: #71717a;
    padding: 24px 0;
  }
}
