<div class="wrapper">
  <!-- <header>
    <a href="#" class="logo">
      <img src="assets/images/ricky.svg" alt="">
    </a>
    <a href="#" class="about" target="_blank" rel="noopener noreferrer">Sobre mim</a>
  </header> -->
  <main class="content">
    <div class="userInfo">
      <div class="hero-container">
        <div class="profile">
          <img sclass="profile-photo" src="assets/images/fotoperfil.webp" alt="foto de perfil">
          <span><strong>ricky.domingos</strong></span>
          <!-- <p class="role">UX DESIGNER</p> -->
        </div>
        <!-- <img class="logo-ricky" src="assets/images/ricky.svg" alt=""> -->
      </div>

      <!-- <img src="assets/images/profile.png" alt="foto de perfil">
      <span>Ricardo Domingos</span>
      <p class="role">UX DESIGNER</p> -->

      <div class="hero">
        <span>{{ 'HOME.UX_DESIGN' | translate }}</span>
        <h1>{{ 'HOME.HERO_TEXT' | translate }}</h1>
      </div>
    </div> <!-- userInfo -->
    <app-about-me>about me works!</app-about-me>
    <app-links>links works!</app-links>
    <!-- <app-social>social works!</app-social> -->
  </main>
  <footer>
    <div class="footer-text">
      <div class="social-section">
        <a (click)="downloadCV()" class="cv-download">
          {{ 'HOME.DOWNLOAD_CV' | translate }}
        </a>
        <div class="social">
          <app-social>social works!</app-social>
        </div>
      </div>
      <div class="footer">
        <div class="footer-content">
          <img src="assets/images/ricky.domingos.svg" alt="" width="160">
          <span>{{ 'HOME.FOOTER_TEXT' | translate }}</span>
          <div class="footerlogo">
            <img src="assets/images/ricky.domingos-footer.svg" alt="" width="1200px">
          </div>
          <span>{{ 'HOME.MADE_WITH' | translate }}</span>
          <div class="lang-selector-footer">
            <label for="footer-lang">{{ 'HOME.LANGUAGE' | translate }}</label>
            <select id="footer-lang" [(ngModel)]="currentLang" (ngModelChange)="changeLang($event)">
              <option *ngFor="let lang of langs" [value]="lang">{{ lang | uppercase }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
